<div class="job_posting_header mb-xl">
  <p class="lead">
    <%= link_to @job_posting.title, @job_posting %>
  </p>
  <p>
    Application Deadline:
    <% if @jobposting.deadline.past? %>
          <%= @jobposting.deadline.to_date %>
        <% else %>
          in <%= distance_of_time_in_words(Time.now, @jobposting.deadline) %> (<%= @jobposting.deadline.to_date %>)
        <% end %>
  </p>
  <p>
    Organization: <%= link_to @job_posting.job.organization.name, @job_posting.job.organization %>
  </p>
</div>
